# Python
__pycache__/
*.py[cod]
*.pkl
*.sqlite3
env/
venv/
ENV/
/.venv

# Node
node_modules/
build/
dist/
npm-debug.log
yarn-error.log

# VSCode
.vscode/

# OS
*.DS_Store
Thumbs.db

# OneDrive (exclude local sync files)
~$*
